<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwenbin.server.mapper.AttendanceMapper">

    <resultMap type="com.hwenbin.server.entity.Attendance" id="AttendanceMap">
        <result property="id" column="id"/>
        <result property="empId" column="emp_id"/>
        <result property="clockDate" column="clock_date"/>
        <result property="clockInTime" column="clock_in_time"/>
        <result property="clockOutTime" column="clock_out_time"/>
        <result property="comeLateMinutes" column="come_late_minutes"/>
        <result property="leaveEarlyMinutes" column="leave_early_minutes"/>
        <result property="updater" column="updater"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--通过员工id和日期查询所有考勤记录-->
    <select id="listByEmpIdAndClockDate" resultMap="AttendanceMap">
        select a.id, a.emp_id, a.clock_date, a.clock_in_time, a.clock_out_time, a.come_late_minutes,
               a.leave_early_minutes, a.updater, a.update_time, e.entry_date
        from attendance a
            left join employee e on a.emp_id = e.id
        where emp_id = #{empId}
        and year(clock_date) = #{year}
        and month(clock_date) = #{month}
        <if test = "day != null">
            and day(clock_date) = #{day}
        </if>
    </select>

</mapper>